<!DOCTYPE html>
<html>
<head>
    <title>Profie</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <titulo>User 1 - Profile</titulo>
        <div align="right">
    <input type="button" value="Logout" />
    </div>
    <hr>
    <div class= "r">
        <button class="button" onclick="window.location.href='users/1/edit'">Edit</button>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class= "c">
        <box>
        </box>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class= "c">User Name: 
        <%= @usr.name %> <%= @usr.lastname %><br>
    <br>
    Email: 
        <%= @usr.email %><br>
    <br>
    City: 
        <%= @usr.city %><br>
    <br>
    GPS: 
        #####<br>
    <br>
    Country: 
        <%= @usr.country %><br>
    <br>
    <a>Bio</a>
    <br>
        <textarea rows="5" cols="60">
         </textarea>
    <br>
        <br>
    <button class="button" onclick="window.location.href='posts'">View Posts</button>
    <br>
    <br>
    <button class="button" onclick="window.location.href=''">User Activity</button>
    <br>
    <br>
    </div>
    <div class="r">
        <button class="button">Back</button>
    </div>
    
</body>
</html>