<div class = "c">
    <TC>Users</TC>
    <%= @s.length %>
    <div class = "c">
        <table class = "scroll">
            <th>Name</th>
            <th>Last Name</th>
            <th>Nick</th>
            <% @us.each do |usr| %>
                <tr>
                    <%= link_to usr do %>
                        <td>Name: <%= usr.name %></td><td>  Last Name: <%= usr.lastname %></td><td>   Nick: <%= usr.nick %></td>
                    <% end %>
                </tr>
            <% end %>
        </table>
    </div>
    <br>
    <br>
    <TC>Posts</TC>
    <div class = "c">
        <table class = "scroll">
            <th>Title</th>
            <th>Author</th>
            <% @pos.each do |p| %>
                <%= link_to p do %>
                    <tr>
                        <td><%= p.title %></td><td>  <%= User.find(p.user_id).name %> </td>
                    </tr>
                <% end %>
            <% end %>
        </table>
    </div>
</div>