<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>
</head>
<body>
<header>
  <h2><%= @post.title %>     <sub><small><small><mark> <%= link_to 'By  ' + @user.find_by(id: @post.user_id).name , @user.find_by(id: @post.user_id) %></mark></small></small></sub></h2>
</header>

<section>
  <nav>
    <ul>
      <li><a href="#">Like</a></li><li>/</li><li><a href="#">Dislike</a></li>
      <li><a href="#">Flag as Inappropriate</a></li>
      <li><a href="#">Tokyo</a></li>
    </ul>
  </nav>
  
  <article>
    <h1>Complaint</h1>
    <%= @post.description %>
  </article>
  <article>
    <h1>Image</h1>
    <%= @post.image %>
  </article>
  <article>
    <h1>Location</h1>
    <%= @post.location %>
  </article>
</section>

<footer>
  <p>Comments</p>
  <table>
    <tbody>
      <% @comments.each do |cm| %>
        <tr>
          <td><%= link_to @user.find_by(id: cm.user_id).name, @user.find_by(id: cm.user_id)%>:  </td>
          <td><%= cm.created_at %>:  </td>
          <td><%= cm.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</footer>

</body>
</html>

<p id="Title"><%= @post.title %></p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @post.image %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<p>
  <strong>Solved:</strong>
  <%= @post.solved %>
</p>

<p>
  <strong>Open:</strong>
  <%= @post.open %>
</p>

<p>
  <strong>Dumpster:</strong>
  <%= @post.dumpster %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @post.deleted %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
