<!DOCTYPE html>
<html>
  <head>
    <title>Example</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class= 'l'>
      <input type="button" class="bttn1" onclick="window.location.href='/userhome'" value="Home" /> <input type="button" onclick="window.location.href='/home'" class="bttn2" value="Logout" />
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
